<div class="p-4">
  <h1>{{ title }}</h1>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <div *ngIf="submitted && userForm.get('name')?.invalid" class="error" style="color: red">
      Name is required.
    </div>

    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
    <div *ngIf="submitted && userForm.get('email')?.invalid" class="error" style="color: red">
      Valid email is required.
    </div>

    <button type="submit">Submit</button>
    <button type="button" (click)="resetForm()">Reset</button>
  </form>
</div>
